@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 60 9% 87%;
    --primary-foreground: 240 9% 13%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 60 9% 87%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 60 9% 87%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 240 9% 13%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 240 9% 13%;
    --muted: 240 5% 18%;
    --muted-foreground: 24 5.4% 63.9%;
    --popover: 240 12% 13%;
    --popover-foreground: 60 12% 87%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 240 9% 13%;
    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --primary: 240 9% 13%;
    --primary-foreground: 60 9% 87%;
    --secondary: 240 5% 18%;
    --secondary-foreground: 240 9% 13%;
    --accent: 240 5% 18%;
    --accent-foreground: 60 9% 87%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 9% 13%;
    --ring: 60 9% 87%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .montserrat-black {
    font-family: "Gentium Plus", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
}