@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@layer base {
  :root {
    --background: 60 100% 95%;
    --foreground: 240 100% 5%;
    --card: 60 50% 90%;
    --card-foreground: 60 5% 15%;
    --card-hover: 60 50% 92%;
    --popover: 60 100% 95%;
    --popover-foreground: 60 100% 10%;
    --primary: 22 90% 25%;
    --primary-foreground: 45 20% 95%;
    --secondary: 60 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 218 30% 45%;
    --muted-foreground: 218 30% 10%;
    --accent: 60 50% 90%;
    --accent-foreground: 60 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 60 5% 90%;
    --border: 60 30% 50%;
    --input: 60 30% 26%;
    --ring: 60 9.1% 87.1%;
    --radius: 0.5rem;

    --success: 142 100% 33%;
    --box-shadow: rgba(255, 255, 255, 0.9);

    --sidebar-background: 60 50% 90%;
    --sidebar-foreground: 60 5% 10%;
    --sidebar-primary: 60 9% 87%;
    --sidebar-primary-foreground: 60 5% 15%;
    --sidebar-accent: 60 50% 90%;
    --sidebar-accent-foreground: 60 5% 15%;
    --sidebar-border: 60 30% 50%;
    --sidebar-ring: 60 9.1% 87.1%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 210 20% 95%;
    --card: 240 9% 13%;
    --card-foreground: 210 20% 95%;
    --card-hover: 240 9% 18%;
    --popover: 240 10% 8%;
    --popover-foreground: 210 20% 95%;
    --primary: 45 85% 65%;
    --primary-foreground: 45 90% 10%;
    --secondary: 210 15% 30%;
    --secondary-foreground: 210 20% 95%;
    --muted: 210 15% 55%;
    --muted-foreground: 210 15% 75%;
    --accent: 210 15% 30%;
    --accent-foreground: 210 20% 95%;
    --destructive: 0 70% 55%;
    --destructive-foreground: 0 0% 95%;
    --border: 210 15% 25%;
    --input: 210 15% 25%;
    --ring: 210 20% 70%;
    --radius: 0.5rem;

    --box-shadow: rgba(255,255, 255, 0.3);
    --success: 142 70% 50%;

    --sidebar-background: 240 9% 13%;
    --sidebar-foreground: 210 20% 95%;
    --sidebar-primary: 210 15% 25%;
    --sidebar-primary-foreground: 210 20% 95%;
    --sidebar-accent: 210 15% 20%;
    --sidebar-accent-foreground: 210 20% 95%;
    --sidebar-border: 210 15% 25%;
    --sidebar-ring: 210 20% 70%;
  }

}


@layer base {
  * {
    @apply border-border;
  }

  a {
    @apply text-primary hover:underline;
  }
  body {
    @apply bg-background text-foreground;
  }

  .montserrat-black {
    font-family: "Gentium Plus", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
  }
}

@layer utilities {

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-muted/50 hover:bg-muted transition-colors;
  }

  /* fuck you firefox mfs */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted)) transparent;
  }

  .overflow-y-auto,
  .overflow-x-auto {
    @apply relative;
    z-index: 39;
  }
}